a {
    text-decoration: none;
    color:black;
}

a:hover {
    color:orange;
}

.header {
    border-bottom:lightgray 1px solid;
}

.header-links {
    display:flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    max-width:1200px;
    margin:0 auto;
}

.header-links-item {
    font-weight: bold;
}
.header-user-control {
    display: flex;
    margin:0 auto;
}


.home-btn {
    flex:1;
}

.user-control {
    display: flex;
    max-width:1200px;
    margin:0 auto;
}

.logo {
    flex:1;
    margin:0 auto;
    padding-left:55px;
}

.user-control-btn {
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:20%;
    padding-right:35px;
    cursor: pointer;
}

.user-control-btn p:hover {
    color:orange;
}